@using PFEF.ViewModels
@model MuestraViewModel
@{
    for (int i = (int)Session["Page"] * 16; i <= ((int)Session["Page"] * 16) + 15; i++)
    {
        if (i < Model.ListaAMostrar.Length)
        {
            <div>
                <span class="sep col-sm-1 col-md-1"></span>
                <a href="@Url.Action("VerMas", "Contenidos", new { cont = Model.ListaAMostrar[i].Id })" style="text-decoration: none">
                    <div class="cont col-sm-3 col-md-3 row objeto">
                        <div>
                            <h5 class="Tit">@Model.ListaAMostrar[i].Nombre</h5>
                            <h6><small>Subido el @Model.ListaAMostrar[i].FechaSubida por @Model.ListaAMostrar[i].Nombre</small></h6>
                            <div class="Desc">
                                <p class="DescT">@Model.ListaAMostrar[i].Descripcion</p>
                            </div>
                            <p class="divider"></p>

                            <div class="tags">
                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Materias.Nombre })">
                                    <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Materias.Nombre</span>,
                                <a/>
                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Escuelas.Nombre })">
                                    <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Escuelas.Nombre</span>,
                                </a>
                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].NivelesEducativos.Nombre })">
                                    <span class="mitag tag label label-info">@Model.ListaAMostrar[i].NivelesEducativos.Nombre</span>,
                                </a>
                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Profesor })">
                                    <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Profesor</span>,
                                </a>
                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].TiposContenidos.Nombre })">
                                    <span class="mitag tag label label-info">@Model.ListaAMostrar[i].TiposContenidos.Nombre</span>
                                </a>
                             </div>

                        </div>
                    </div>
                </a>
            </div>
            }
        }
    }




