@model PFEF.ViewModels.MuestraViewModel
@using PFEF.Extensions;
<link href='~/Content/FlipperCard.css' rel='stylesheet' type='text/css'>
@{

    for (int i = (int)Session["Page"] * 16; i <= ((int)Session["Page"] * 16) + 15; i++)
    {
        if (i < Model.ListaAMostrar.Length)
        {
            <div class="caca col-md-4" sonclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model.ListaAMostrar[i].Id })'">
                <div class="card-flipper effect__hover" data-id="1">
                    <div class="card__front">
                        <div class="card card-01">
                            <div class="card-block text-center">
                                @{var Badget = HelpersExtensions.BudgetFileSelect(Model.ListaAMostrar[i].Ruta); }
                                <span class="badge-box"><i class="@Badget"></i></span>
                                <h4 class="card-title">@Model.ListaAMostrar[i].Nombre</h4>
                                <p class="card-text">@Model.ListaAMostrar[i].Descripcion</p>
                            </div>
                        </div>
                    </div>

                    <div class="card__back" onclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model.ListaAMostrar[i].Id })'">
                        <div class="card card-01">
                            <div class="card-block text-center">
                                <h4 class="card-title">Subido el @Model.ListaAMostrar[i].FechaSubida por @Model.ListaAMostrar[i].Usuarios.Nombre</h4>
                                <span class="social-box">
                                    <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Materias.Nombre })">
                                        <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Materias.Nombre</span>,
                                        <a />
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Escuelas.Nombre })">
                                            <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Escuelas.Nombre</span>,
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Escuelas.NivEduEscuela.Nombre })">
                                            <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Escuelas.NivEduEscuela.Nombre</span>,
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Profesor })">
                                            <span class="mitag tag label label-info">@Model.ListaAMostrar[i].Profesor</span>,
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].TiposContenidos.Nombre })">
                                            <span class="mitag tag label label-info">@Model.ListaAMostrar[i].TiposContenidos.Nombre</span>
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model.ListaAMostrar[i].Cursada })">
                                            <span class="mitag tag label label-info">Año @Model.ListaAMostrar[i].Cursada</span>
                                        </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                        }
                                    }
}
