@using PFEF.ViewModels
@model MuestraViewModel
    
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
    <style>
        .titfont{
            font-size:18px;
        }
        .cont1 {
            margin-bottom: 30px;
            box-shadow: 1px 1px 5px #888888;
        }
    </style>
</head>
<body class="containermio">
    <div class="containermio">
        <h1 class="text-center">@ViewBag.Title</h1>
        <hr />
        <div class="jumbotron">
            @using (Html.BeginForm("Buscar", "Contenidos", FormMethod.Post, new { @class = "form-inline" }))
            {
                Model.Title = ViewBag.Title;
                @Html.HiddenFor(x => x.Title)
                <div class="form-group">
                    <h6 class="titfont">Escuela:</h6> 
                    <div>
                        @Html.DropDownListFor(model => model.IdEscuela, new SelectList(Model.dropEscuela, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle" })
                    </div>
                </div>

                <div class="form-group">
                   <h6 class="titfont">Materia:</h6>
                    <div>

                        @Html.DropDownListFor(model => model.IdMateria, new SelectList(Model.dropMateria, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle" })
                    </div>
                </div>
                <div class="form-group">
                    <h6 class="titfont">Nivel educativo:</h6>
                    <div>
                        @Html.DropDownListFor(model => model.IdNivelEducativo, new SelectList(Model.dropNivelEducativo, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle" })
                    </div>
                </div>

                <div class="form-group">
                    <h6 class="titfont">Tipo contenido:</h6>
                    <div>
                        @Html.DropDownListFor(model => model.IdTipoContenido, new SelectList(Model.dropTipoContenido, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle" })
                    </div>
                </div>

                <div class="form-group">
                    <h6 class="titfont">Tipo contenido:</h6>
                    <div>
                        @Html.TextBoxFor(model => model.Profesor, new { @class = "btn btn-inverse dropdown-toggle" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-1">
                        <input type="submit" value="Filtrar!" class="btn btn-succes" />
                    </div>
                </div>
            }
         
        </div>
        <hr />
        <div class="col-md-offset-1 row">
            <button class="btn btn-default" onclick="Barras();">Ver como barra</button>
            <button class="btn btn-default" onclick="Tarjetas();">Ver como tarjetas</button>
        </div>
        <div id="contenido" class="row" style="margin:1%;">
            @Html.Partial("_ContentView")
        </div>   
        <div class="col-md-5">
            <div>
                <ul class="pagination">
                    <li class="previous">
                        <a id="prev" href="@Url.Action("PasarPagina", "Contenidos", new { Pagina = (int)Session["Page"] - 1, Title = ViewBag.Title })" class="fui-arrow-left"></a>
                    </li>
                    @{ for (int i = 0; i <= Model.ListaAMostrar.Length / 16; i++)
                        {
                            <li>
                                @{ int j = i + 1;}
                                <a href="@Url.Action("PasarPagina", "Contenidos", new { Pagina = i, Title = ViewBag.Title })">@j</a>

                            </li>
                                    }
                    }
                    <li class="next">
                        <a id="prev" href="@Url.Action("PasarPagina", "Contenidos", new { Pagina = (int)Session["Page"] + 1, Title = ViewBag.Title })" class="fui-arrow-right"></a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <script>
        function Barras() {
            $(".cont").removeClass("col-sm-3");
            $(".cont").removeClass("col-md-3");
            $(".cont").addClass("col-sm-12");
            $(".cont").addClass("col-md-12");
            $(".cont").addClass("cont1");
            $(".cont").removeClass("cont");
        }
        function Tarjetas() {
            $(".cont1").addClass("col-sm-3");
            $(".cont1").addClass("col-md-3");
            $(".cont1").removeClass("col-sm-12");
            $(".cont1").removeClass("col-md-12");
            $(".cont1").addClass("cont");
            $(".cont1").removeClass("cont1");
        }
    </script>
</body>
</html>