@model Teko.Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    .btnmio{
        margin-bottom:10px;
    }
    .title {
        display: inline-block;
    }
</style>
<div class="jumbotron">
    <h1>Teko</h1>
    <p class="lead">Teko es una herramienta que te permitira salir de un apuro escolar</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<hr />
<div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="@Url.Action("Index", "Materias")" class="thumbnail">
                <h1 class="text-center">Materias</h1>
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="@Url.Action("Index", "Escuelas")" class="thumbnail">
                <h1 class="text-center">Escuelas</h1>
            </a>
        </div>
</div>

<div>
    <div>
        <h2 class="text-center title">Subidos recientemente</h2>
        <a href="@Url.Action("VerTodo", "Contenidos", new { Title = "Mas recientes" })" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
        @{
            ViewBag.Controles = "MasRec";
                }
                <div class="row" style="margin:1%;">
                    @Html.Partial("_Carrousel", Model.ListaArticulosRec)
                </div>
            </div>
            <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
            <div>
                <h2 class="text-center title">Mas populares</h2>
                <a href="@Url.Action("VerTodo", "Contenidos", new { Title = "Mas populares" })" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
                @{  
                    ViewBag.Controles = "MasPop";
                }
                <div class="row" style="margin:1%;">
                    @Html.Partial("_Carrousel", Model.ListaArticulosPop)
                </div>
            </div>
            <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
            <div>
                <h2 class="text-center title" >Mas descargados</h2>
                <a href="@Url.Action("VerTodo", "Contenidos", new { Title = "Mas descargados" })" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
                @{
                    ViewBag.Controles = "MasDes";
                }
                <div class="row" style="margin:1%;">
                    @Html.Partial("_Carrousel", Model.ListaArticulosDes)
                </div>
            </div>
            <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
            <div>
                <h2 class="text-center title">Mas valorados</h2>
                <a href="@Url.Action("VerTodo", "Contenidos", new { Title = "Mas valorados" })" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
                @{
                    ViewBag.Controles = "MasVal";
                }
                <div class="row" style="margin:1%;">
                    @Html.Partial("_Carrousel", Model.ListaArticulosVal)
                </div>
            </div>
            @{ if (Model.EscuelaAlumno != null)
                {
                <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
                <div>
                    <h2 class="text-center title">Contenidos de @Model.EscuelaAlumno.Nombre</h2>
                    <a href="@Url.Action("VerTodo", "Contenidos", new { Title = "Escuela" })" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
                    @{
                        ViewBag.Controles = "MasEsc";
                    }
                    <div class="row" style="margin:1%;">
                        @Html.Partial("_Carrousel", Model.ListaArticulosEsc)
                    </div>
                </div>
                            }
                        }
    </div>
</div>
