@model Teko.Model.Contenidos[]
@{if (Model.Length > 8)
    { 
    <style>
    .carousel-control.left, .carousel-control.right 
    {
   background-image:none !important;
   filter:none !important;
}
    .card-flipper {
        margin-top: 30px;
    }
</style>
<link href='~/Content/FlipperCard.css' rel='stylesheet' type='text/css'>
<div id=@ViewBag.Controles class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#@ViewBag.Controles" data-slide-to="0" class="active"></li>
        <li data-target="#@ViewBag.Controles" data-slide-to="1"></li>
        <li data-target="#@ViewBag.Controles" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @{ for (int i = 0; i < 3; i++)
                {
                    <div class="caca col-md-4" sonclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model[i].Id })'">
                <div class="card-flipper effect__hover" data-id="1">
                    <div class="card__front">
                        <div class="card card-01">
                            <div class="card-block text-center">
                                <span class="badge-box"><i class="@Model[i].Badget"></i></span>
                                <h4 class="card-title">@Model[i].Nombre</h4>
                                <p class="card-text">@Model[i].Descripcion</p>
                            </div>
                        </div>
                    </div>

                    <div class="card__back" onclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model[i].Id })'">
                        <div class="card card-01">
                            <div class="card-block text-center">
                                <h4 class="card-title">Subido el @Model[i].FechaSubida por @Model[i].Usuarios.Nombre</h4>
                                <span class="social-box">
                                    <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Materias.Nombre })">
                                        <span class="mitag tag label label-info">@Model[i].Materias.Nombre</span>,
                                        <a />
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Escuelas.Nombre })">
                                            <span class="mitag tag label label-info">@Model[i].Escuelas.Nombre</span>,
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Escuelas.NivEduEscuela.Nombre })">
                                            <span class="mitag tag label label-info">@Model[i].Escuelas.NivEduEscuela.Nombre</span>,
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Profesor })">
                                            <span class="mitag tag label label-info">@Model[i].Profesor</span>,
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].TiposContenidos.Nombre })">
                                            <span class="mitag tag label label-info">@Model[i].TiposContenidos.Nombre</span>
                                        </a>
                                        <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Cursada })">
                                            <span class="mitag tag label label-info">Año @Model[i].Cursada</span>
                                        </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                }
           }
        </div>
        <div class="item">
            @{ for (int i = 3; i < 6; i++)
                {
                    <div class="caca col-md-4" sonclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model[i].Id })'">
                        <div class="card-flipper effect__hover" data-id="1">
                            <div class="card__front">
                                <div class="card card-01">
                                    <div class="card-block text-center">
                           
                                        <span class="badge-box"><i class="@Model[i].Badget"></i></span>
                                        <h4 class="card-title">@Model[i].Nombre</h4>
                                        <p class="card-text">@Model[i].Descripcion</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card__back" onclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model[i].Id })'">
                                <div class="card card-01">
                                    <div class="card-block text-center">
                                        <h4 class="card-title">Subido el @Model[i].FechaSubida por @Model[i].Usuarios.Nombre</h4>
                                        <span class="social-box">
                                            <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Materias.Nombre })">
                                                <span class="mitag tag label label-info">@Model[i].Materias.Nombre</span>,
                                                <a />
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Escuelas.Nombre })">
                                                    <span class="mitag tag label label-info">@Model[i].Escuelas.Nombre</span>,
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Escuelas.NivEduEscuela.Nombre })">
                                                    <span class="mitag tag label label-info">@Model[i].Escuelas.NivEduEscuela.Nombre</span>,
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Profesor })">
                                                    <span class="mitag tag label label-info">@Model[i].Profesor</span>,
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].TiposContenidos.Nombre })">
                                                    <span class="mitag tag label label-info">@Model[i].TiposContenidos.Nombre</span>
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Cursada })">
                                                    <span class="mitag tag label label-info">Año @Model[i].Cursada</span>
                                                </a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="item">
            @{ for (int i = 6; i < 9; i++)
                {
                    <div class="caca col-md-4" sonclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model[i].Id })'">
                        <div class="card-flipper effect__hover" data-id="1">
                            <div class="card__front">
                                <div class="card card-01">
                                    <div class="card-block text-center">
                                        
                                        <span class="badge-box"><i class="@Model[i].Badget"></i></span>
                                        <h4 class="card-title">@Model[i].Nombre</h4>
                                        <p class="card-text">@Model[i].Descripcion</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card__back" onclick="location.href='@Url.Action("VerMas", "Contenidos", new { cont = Model[i].Id })'">
                                <div class="card card-01">
                                    <div class="card-block text-center">
                                        <h4 class="card-title">Subido el @Model[i].FechaSubida por @Model[i].Usuarios.Nombre</h4>
                                        <span class="social-box">
                                            <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Materias.Nombre })">
                                                <span class="mitag tag label label-info">@Model[i].Materias.Nombre</span>,
                                                <a />
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Escuelas.Nombre })">
                                                    <span class="mitag tag label label-info">@Model[i].Escuelas.Nombre</span>,
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Escuelas.NivEduEscuela.Nombre })">
                                                    <span class="mitag tag label label-info">@Model[i].Escuelas.NivEduEscuela.Nombre</span>,
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Profesor })">
                                                    <span class="mitag tag label label-info">@Model[i].Profesor</span>,
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].TiposContenidos.Nombre })">
                                                    <span class="mitag tag label label-info">@Model[i].TiposContenidos.Nombre</span>
                                                </a>
                                                <a href="@Url.Action("Tag", "Contenidos", new { Tag = Model[i].Cursada })">
                                                    <span class="mitag tag label label-info">Año @Model[i].Cursada</span>
                                                </a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#@ViewBag.Controles" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#@ViewBag.Controles" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

                    }
                }