@using Teko.ViewModels
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@{
    foreach (var item in Model)
    {
        <div class="col-md-3">
            <h5 style="background-color: gainsboro">@item.Key</h5>
            <ul class="list-unstyled">
                @foreach (var materia in item.Value)
                {
                    <li><a href="@Url.Action("Tag","Contenidos",new { Tag = materia.Nombre, Title = ViewBag.Title, IdFiltro = materia.Id})">@materia.Nombre</a><span class="badge text-right">@materia.Contenidos.Count</span></li>
                }
            </ul>
        </div>
    }
}

