@using Teko.ViewModels
@model MuestraViewModel
    
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <style>
        .titfont{
            font-size:18px;
        }
        .cont1 {
            margin-bottom: 30px;
            box-shadow: 1px 1px 5px #888888;
        }
    </style>
</head>
<body class="containermio">
        <h1 class="text-center">@Model.Title</h1>
        <hr />
        <div class="jumbotron">
            @Html.Partial("_FormFiltro")
        </div>
        <hr />
    <div>
        @using (Ajax.BeginForm("Ordenar", "Contenidos", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "container"

        }, new { style = "margin-bottom:20px;" }))
        {
            @Html.DropDownList("Ordenar", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="Valoracion", Value = "1" },
                    new SelectListItem{ Text="Popularidad", Value = "2" },
                    new SelectListItem{ Text="Descargas", Value = "3" },
                    new SelectListItem{ Text="Recientes", Value = "4" }
                 }
, "Ordenar por", new { onchange = "$(this.form).submit();", @class = "btn btn-inverse dropdown-toggle" })
        }
    </div>
    <div class="row">
        <div class="col-md-12-10" id="container">
            @Html.Partial("_ContenidoPagPrincipal")
        </div>
        @Html.Partial("_Paginador")
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script>
        function PopEsc() {
            var lvlId = $('#NivelesEducativosId').val();
            $.ajax({
                url: '/Contenidos/PopuladorEscFiltro',
                type: "GET",
                dataType: "JSON",
                data: { Lvl: lvlId },
                success: function (Data) {
                    $("#ddlesc").html("");
                    $.each(Data, function (i, city) {
                        $("#ddlesc").append(
                            $('<option></option>').val(city.Id).html(city.Nombre));
                    });
                }
            });
        }
    </script>
</body>
</html>