@{
    ViewBag.Title = "Home Page";
}
<style>
    .btnmio{
        margin-bottom:10px;
    }
    .title {
        display: inline-block;
    }
</style>
<div class="jumbotron">
    <h1>Teko</h1>
    <p class="lead">Teko es una herramienta que te permitira salir de un apuro escolar</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<hr />
<div>
    <div>
            <h2 class="text-center title">Subidos recientemente</h2>
            <a href="@Url.Action("VerTodo", "Contenidos",new { Title="Mas recientes"})" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
        @{
            ViewBag.Controles = "MasRec";
        }
        <div class="row" style="margin:1%;">
            @Html.Partial("_Carrousel")
        </div>
    </div>
    <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
    <div>
        <h2 class="text-center title">Mas populares</h2>
        <a href="@Url.Action("VerTodo", "Contenidos",new { Title="Mas populares"})" type="button" class="btnmio btn btn-default id="tarj">Ver todo</a>
        @{
            ViewBag.ListaArticulos = ViewBag.ListaArticulosPop;
            ViewBag.Controles = "MasPop";
        }
        <div class="row" style="margin:1%;">
            @Html.Partial("_Carrousel")
        </div>
    </div>
    <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
    <div>
        <h2 class="text-center title" >Mas descargados</h2>
        <a href="@Url.Action("VerTodo", "Contenidos",new { Title="Mas descargados"})" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
        @{
            ViewBag.ListaArticulos = ViewBag.ListaArticulosDes;
            ViewBag.Controles = "MasDes";
        }
        <div class="row" style="margin:1%;">
            @Html.Partial("_Carrousel")
        </div>
    </div>
    <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
    <div>
        <h2 class="text-center title">Mas valorados</h2>
        <a href="@Url.Action("VerTodo", "Contenidos",new { Title="Mas valorados"})" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
        @{
            ViewBag.ListaArticulos = ViewBag.ListaArticulosVal;
            ViewBag.Controles = "MasVal";
        }
        <div class="row" style="margin:1%;">
            @Html.Partial("_Carrousel")
        </div>
    </div>
    @{ if (Request.IsAuthenticated && HelpersExtensions.ObtenerUser(User.Identity.GetUserId()).InstitucionActual != null && ViewBag.ListaArticulosEsc.Length >= 9)
        {
            <hr style="color: #0056b2; margin-top:20px; margin-bottom:20px;" />
            <div>
                <h2 class="text-center title">Contenidos de @HelpersExtensions.ObtenerUser(User.Identity.GetUserId()).InstitucionActual.Nombre</h2>
                <a href="@Url.Action("VerTodo", "Contenidos",new { Title="Escuela"})" type="button" class="btnmio btn btn-default" id="tarj">Ver todo</a>
                @{
                    ViewBag.ListaArticulos = ViewBag.ListaArticulosEsc;
                    ViewBag.Controles = "MasEsc";
                }
                <div class="row" style="margin:1%;">
                    @Html.Partial("_Carrousel")
                </div>
            </div>
          }
       }
    
</div>
