@using Teko.ViewModels
@model MuestraViewModel
    
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <style>
        .titfont{
            font-size:18px;
        }
        .cont1 {
            margin-bottom: 30px;
            box-shadow: 1px 1px 5px #888888;
        }
    </style>
</head>
<body class="containermio">
        <h1 class="text-center">@ViewBag.Title</h1>
        <hr />
        <div class="jumbotron">
           @using (Ajax.BeginForm("Buscar", "Contenidos",new AjaxOptions
           {
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "container"
           }, new { @class = "form-inline" }))
           {
               Model.Title = ViewBag.Title;
            @Html.HiddenFor(x => x.Title)
            <div class="form-group">
                <h6 class="titfont">Nivel educativo:</h6>
                <div>
                    @Html.DropDownListFor(model => model.NivelesEducativosId, new SelectList(Model.dropNivelEducativo, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle", @onchange = "PopEsc(this.value);" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="titfont">Escuela:</h6>
                <div>

                    @Html.DropDownListFor(model => model.EscuelasId, Enumerable.Empty<SelectListItem>(), "Primero elige nivel", new { @class = "btn btn-inverse dropdown-toggle", id = "ddlesc" ,name = "ddlesc" })
                </div>
            </div>



            <div class="form-group">
                <h6 class="titfont">Materia:</h6>
                <div>

                    @Html.DropDownListFor(model => model.MateriasId, new SelectList(Model.dropMateria, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="titfont">Tipo contenido:</h6>
                <div>
                    @Html.DropDownListFor(model => model.TiposContenidosId, new SelectList(Model.dropTipoContenido, "Id", "Nombre"), "----------", new { @class = "btn btn-inverse dropdown-toggle" })
                </div>
            </div>

            <div class="form-group">
                <h6 class="titfont">Tipo contenido:</h6>
                <div>
                    @Html.TextBoxFor(model => model.Profesor, new { @class = "btn btn-inverse dropdown-toggle" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-1">
                    <input type="submit" value="Filtrar!" class="btn btn-primary" />
                </div>
            </div>
            }

        </div>
        <hr />
    <div>
        @using (Ajax.BeginForm("Ordenar", "Contenidos", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "container"

        }, new { style="margin-bottom:20px;"}))
        {
            @Html.DropDownList("Ordenar", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="Valoracion", Value = "1" },
                    new SelectListItem{ Text="Popularidad", Value = "2" },
                    new SelectListItem{ Text="Descargas", Value = "3" },
                    new SelectListItem{ Text="Recientes", Value = "4" }
                 }
                , "Ordenar por", new { onchange = "$(this.form).submit();", @class= "btn btn-inverse dropdown-toggle" })
        }
    </div>
        <div id="container">
            @Html.Partial("_ContViewer")
        </div>
            <div>
                <ul class="pagination">
                    <li class="previous">
                        <a id="prev" href="@Url.Action("PasarPagina", "Contenidos", new { Pagina = (int)Session["Page"] - 1  ,Title = ViewBag.Title})" class="fui-arrow-left"></a>
                    </li>
                    @{ for (int i = 0; i <= Model.ListaAMostrar.Length / 15; i++)
                        {
                            <li>
                                @{ int j = i + 1;}
                                <a href="@Url.Action("PasarPagina", "Contenidos", new { Pagina = i, Title = ViewBag.Title })">@j</a>

                            </li>
                                    }
                    }
                    <li class="next">
                        <a id="prev" href="@Url.Action("PasarPagina", "Contenidos", new { Pagina = (int)Session["Page"] + 1, Title = ViewBag.Title })" class="fui-arrow-right"></a>
                    </li>
                </ul>
            </div>
    <script>
      @*$(window).scroll(function () {
            if ($(window).scrollTop() ==
                $(document).height() - $(window).height()) {
                GetData();
            }
        });
        function GetData() {
                       $.ajax({
                dataType: "html",
                success: function (data) {
                    $('#MoreContent').load("@Url.Action("GetMoreCont", "Contenidos")");
                },
                error: function () {
                    $('#MoreContent').html("<h3>Couldn't do that</h3>");
                },
            }
            );
        }*@
        function PopEsc() {
            var lvlId = $('#NivelesEducativosId').val();
            $.ajax({
                url: '/Contenidos/PopuladorEsc',
                type: "GET",
                dataType: "JSON",
                data: { Lvl: lvlId },
                success: function (Data) {
                    $("#ddlesc").html(""); // clear before appending new list
                    $.each(Data, function (i, city) {
                        $("#ddlesc").append(
                            $('<option></option>').val(city.Id).html(city.Nombre));
                    });
                }
            });
        }
        function Barras() {
            $(".cont").removeClass("col-sm-3");
            $(".cont").removeClass("col-md-3");
            $(".cont").addClass("col-sm-12");
            $(".cont").addClass("col-md-12");
            $(".cont").addClass("cont1");
            $(".cont").removeClass("cont");
        }
        function Tarjetas() {
            $(".cont1").addClass("col-sm-3");
            $(".cont1").addClass("col-md-3");
            $(".cont1").removeClass("col-sm-12");
            $(".cont1").removeClass("col-md-12");
            $(".cont1").addClass("cont");
            $(".cont1").removeClass("cont1");
        }
    </script>
</body>
</html>